body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mondrian{
    border: 1vh solid black;
    height: 98vh;
    width: 73vh;
    display: grid;
    grid-gap: 10px;
    background-color: black;
    grid-template-areas: 'a b c d e'
    'f g c d e'
    'f g h d e'
    'f i j k l'
    'm i j k l'
    'm n o p q'
    'r n o p q'
    's t u p q'
    'v w x x x'
    'v w y y y';
    grid-template-columns: 4fr 3fr 6fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 4fr 2fr 4fr 3fr 2fr 2fr 3fr;
}
#mondrian div{    
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#mondrian div:nth-child(1){
    grid-area: a;
    background-color: #EEBE1C;
}
#mondrian div:nth-child(2){
    grid-area: b;
    background-color: #EEBE1C;
}
#mondrian div:nth-child(3){
    grid-area: c;
    background-color: white;
}
#mondrian div:nth-child(4){
    grid-area: d;
    background-color: #1E3E7B;
}
#mondrian div:nth-child(5){
    grid-area: e;
    background-color: white;
}
#mondrian div:nth-child(6){
    grid-area: f;
    background-color: white;
}
#mondrian div:nth-child(7){
    grid-area: g;
    background-color: #D52228;
}
#mondrian div:nth-child(8){
    grid-area: h;
    background-color: white;
}
#mondrian div:nth-child(9){
    grid-area: i;
    background-color: #1E3E7B;
}
#mondrian div:nth-child(10){
    grid-area: j;
    background-color: #EEBE1C;
}
#mondrian div:nth-child(11){
    grid-area: k;
    background-color: white;
}
#mondrian div:nth-child(12){
    grid-area: l;
    background-color: white;
}
#mondrian div:nth-child(13){
    grid-area: m;
    background-color: white;
}
#mondrian div:nth-child(14){
    grid-area: n;
    background-color: white;
}
#mondrian div:nth-child(15){
    grid-area: o;
    background-color: #D52228;
}
#mondrian div:nth-child(16){
    grid-area: p;
    background-color: #1E3E7B;
}
#mondrian div:nth-child(17){
    grid-area: q;
    background-color: white;
}
#mondrian div:nth-child(18){
    grid-area: r;
    background-color: #EEBE1C;
}
#mondrian div:nth-child(19){
    grid-area: s;
    background-color: white;
}
#mondrian div:nth-child(20){
    grid-area: t;
    background-color: white;
}
#mondrian div:nth-child(21){
    grid-area: u;
    background-color: #D52228;
}
#mondrian div:nth-child(22){
    grid-area: v;
    background-color: white;
}
#mondrian div:nth-child(23){
    grid-area: w;
    background-color: black;
}
#mondrian div:nth-child(24){
    grid-area: x;
    background-color: white;
}
#mondrian div:nth-child(25){
    grid-area: y;
    background-color: #EEBE1C;
}